:root {
  --color-purple: hsl(256, 67%, 59%);
  --color-purple-light: hsl(254, 88%, 90%);
  --color-peach: hsl(39, 100%, 71%);
  --color-peach-light: hsl(31, 66%, 93%);

  --spacing-standard: 1rem;

  --full-size: 100%;

  --card-small: span 1;
  --card-medium: span 3;
  --card-large: span 6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html body {
  font-size: 18px;
  font-family: "DM Sans";
  letter-spacing: -1.5px;
}

h2,
h3,
p {
  line-height: 90%;
}
#main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
  gap: var(--spacing-standard);
  padding: var(--spacing-standard);
  border: 1px solid red;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#create-post {
  grid-column: var(--card-medium);
  grid-row: 1 / span 5;
  background-color: var(--color-peach-light);
  padding: var(--spacing-standard);
  border: 1px solid red;
}

#social-media_tip {
  letter-spacing: normal;
  grid-column: var(--card-large);
  grid-row: 1 / span 4;
  background-color: var(--color-purple);
  padding: 1rem 1rem 1rem 1rem;
  color: white;
  border: 1px solid red;
}

#social-media_tip img {
  width: 40%;
  height: 40%;
  /* border: 1px solid red; */
}

#schedule-post {
  grid-column: var(--card-medium);
  grid-row: 1 / span 8;
  background-color: var(--color-purple-light);
  padding: var(--spacing-standard);
  border: 1px solid red;
}

#schedule-post .content-card_media {
  width: 75%;
  height: 50%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 5px;

  /* border: 1px solid red; */
}
#schedule-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  /* ^ I dont know what this does  */
}

#content-use {
  grid-row: 6 / span 7;
  grid-column: var(--card-medium);
  background-color: var(--color-peach);
  padding: var(--spacing-standard);
  border: 1px solid red;
}

#multiple-messages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row: 5 / span 8;
  grid-column: span 6 ;
  border: 1px solid red;
} 

 #multiple-messages article{
  grid-row: span 1; 
  grid-column: span 1 ; 
  border: 1px solid red;

}

#posting-schedule {
  overflow: hidden;
}

#non-stop {
  grid-row: 9 / 12;
  grid-column: 10 / 12;
}