:root {
  --color-purple: hsl(256, 67%, 59%);
  --color-purple-light: hsl(254, 88%, 90%);
  --color-peach: hsl(39, 100%, 71%);
  --color-peach-light: hsl(31, 66%, 93%);

  --spacing-standard: 1rem;

  --full-size: 100%;

  --card-small: span 1;
  --card-medium: span 3;
  --card-large: span 6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-size: 18px;
  font-family: "DM Sans";
  /* font-weight: 800; */
  letter-spacing: -1.5px;
}

#main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
  gap: var(--spacing-standard);
  padding: var(--spacing-standard);
  border: 1px solid red;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#create-post {
  grid-column: var(--card-medium);
  grid-row: 1 / span 6;
  background-color: var(--color-peach-light);
  padding: var(--spacing-standard);
  border: 1px solid red;
}

#social-media_tip {
  letter-spacing: normal;
  grid-column: var(--card-large);
  grid-row: 1 / span 5;
  background-color: var(--color-purple);
  padding: 1rem 1rem 1rem 1rem;
  color: white;
  border: 1px solid red;
}

#social-media_tip img {
  width: 40%;
  height: 40%;
  /* border: 1px solid red; */
}

#schedule-post {
  grid-column: var(--card-medium);
  grid-row: 1 / span 8;
  background-color: var(--color-purple-light);
  padding: var(--spacing-standard);
  border: 1px solid red;
}

#schedule-post .content-card_media {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid red;
}
#schedule-post img {
  width: 120%;
  margin-left: 25%;
}

#content-use {
  grid-row: 7 / span 6;
  grid-column: var(--card-medium);
  background-color: var(--color-peach-light);
  padding: var(--spacing-standard);
  border: 1px solid red;
}
